.contact-section {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  background-color: #f5f5f5;
  gap: 10rem;
}

.contact-info,
.form-container {
  width: 50%;
  display: flex;

  flex-direction: column;
  gap: 2rem;
}

.form-container {
  padding-left: 15vw;
  position: relative;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.form-container button {
  align-self: flex-start;
}
input,
#message {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
}
